@{
    ViewBag.Title = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" name="username" class="form-control" placeholder="Enter your username" required />
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" class="form-control" placeholder="Enter your password" required />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>

                        if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger mt-3">@ViewBag.Message</div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
